.Weather {
  border: 1px solid #dadde1;
  border-radius: 6px;
  margin: 30px auto;
  padding: 16px;
}

.Weather h1 {
  color: #878787;
  font-family: "adobe-bengali", sans-serif;
  font-weight: 700;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 500;
  font-size: 56px;
  color: black;
  margin-left: 5px;
  margin-top: 18px;
  line-height: 68px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  margin-bottom: 65px;
  padding: 3px;
}
